//IN THIS FILE PLACED COLOR PALETTES FOR DIFFERENT COLOR THEMES
//you can change color of the web page by replacing value of the $currentPalette and $alternativePalette variables with name of other palletes listed below.


$color-palette-default: (
  white-col: #fff,
  ebony-clay: #1f232c,
  whisper: #fafafc,
  tuna: #31343d,
  storm-gray: #72747a,
  silver: #c4c4c4,
  silver-col: #c4c4c4,
  silver-light: #c8c8c8,
  alizarin-crimson: #e52435,
  cadet-blue: #afb5c2,
  charade: #232730,
  gray-chateau: #a3aab4,
  piper: #c96d23,
  gallery: #eee,
  dove-gran: #6d6d6d,
  wild-sand: #f6f6f6,
  wild-sand-dark: #f4f4f4,
  golden-tainoi: #ffc555,
  ship-cove: #7c95be,
  ship-cove-dark: #6b94b8,
  cornflower-blue: #66b7f0,
  saffron-mango: #f7c055,
  wisteria: #9972b5,
  sunset-orange: #ff503f,
  bermuda: #73d7d1,
  sunglow: #ffc32e,
  java: #1fb5ac,
  mantis: #8cc152,
  casablanca: #f6bb42,
  silver-chalice: #a9a9a9,
  alto: #ddd,
  dusty-gray: #979090,
  celery: #a5c562,
  mercury: #eae9e9,
  downy: #73cba7,
  scooter: #3bafda,
  alabaster: #fafafa,
  scorpion: #5f5f5f,
  boulder: #7f7777,
  boulder-dark: #767676,
  alabaster-dark: #fbfbfb,
  solitude: #e3f2ff,
  nobel: #b3b3b3,
  scorpion-dark: #5a5a5a,
  picton-blue: #4ec4e9,
  bittersweet: #ff7365,
  catskill-white: #e6edf3,
  congress-blue: #004b8b,
  black-col: #000
);

$color-palette-dark: (
	headerBackgroundC: green
);

$current-palette: $color-palette-default;

$alternative-palette: $color-palette-dark;


//*** FUNCTION FOR GETTING COLOR FROM COLOR MAPS WITHOUT NESTED MAPS
@function color($key) {
  @if not map-has-key($current-palette, $key) {
    @warn "Key `#{$key}` not found in $colors map.";
  }
  @return map-get($current-palette, $key);
}
// example: color: color(primary);

@function color-alt($key) {
  @if not map-has-key($alternative-palette, $key) {
    @warn "Key `#{$key}` not found in $colors map.";
  }
  @return map-get($alternative-palette, $key);
}
// example: color: colorAlt(primary);
