<div class="notifications-widget">
  <div class="notifications-widget__heading-container">
    <h3 class="notifications-widget__heading">Notifications</h3>
    <i class="fa fa-cog notifications-widget__settings" aria-hidden="true"></i>
  </div>
  <div class="notifications-widget__items-container">
    <div class="notifications-widget__item">
      <div class="notifications-widget__icon-container notifications-widget__icon-container_bg_twitter">
        <div class="notifications-widget__icon-decoration notifications-widget__icon-decoration_bg_twitter">
          <i class="fa fa-twitter notifications-widget__icon" aria-hidden="true"></i>
        </div>
      </div>
      <p class="notifications-widget__message notifications-widget__message_bg_twitter">There are {{twitter}} new twitter messages are waiting you for reply them !</p>
    </div>
    <div class="notifications-widget__item">
      <div class="notifications-widget__icon-container notifications-widget__icon-container_bg_email">
        <div class="notifications-widget__icon-decoration notifications-widget__icon-decoration_bg_email">
          <i class="fa fa-envelope notifications-widget__icon" aria-hidden="true"></i>
        </div>
      </div>
      <p class="notifications-widget__message notifications-widget__message_bg_email">There are {{email}} new email messages are waiting you for reply them !</p>
    </div>
    <div class="notifications-widget__item">
      <div class="notifications-widget__icon-container notifications-widget__icon-container_bg_money">
        <div class="notifications-widget__icon-decoration notifications-widget__icon-decoration_bg_money">
          <i class="fa fa-usd notifications-widget__icon" aria-hidden="true"></i>
        </div>
      </div>
      <p class="notifications-widget__message notifications-widget__message_bg_money">{{money}}$ were sent to you!</p>
    </div>
  </div>
</div>
