<div class="profile">
  <div class="profile__show" [class.profile__show_if_opts-visible]='showOptions' (click)='showOptions=!showOptions'>
    <img src="../../../../assets/images/users/default-userimage.jpg" alt="user default image" class="profile__avatar" *ngIf='!!!image64'>
    <img [src]='image64' alt="user image" class="profile__avatar" *ngIf='!!image64'>
    <p class="profile__greeting"><span class="profile__greeting_font_bolder">Hi,</span> <span *ngIf='!!profile'>{{profile.name}}</span><span *ngIf='!!!profile'>user</span></p>
    <i class="fa fa-caret-down profile__dropdown-icon" aria-hidden="true"></i>
  </div>

  <div class="profile__options" *ngIf='showOptions'>
    <p class="profile__link" (click)='goToViewProfile()'>View profile</p>
    <p class="profile__link" (click)='goToChangeProfile()'>Change profile</p>
    <p class="profile__link" (click)='logout()'>Logout</p>
  </div>
</div>
