<div class="yearly-sales">
  <div class="yearly-sales__graph">
    <h3 class="yearly-sales__heading">Yearly Sales</h3>
    <div class="yearly-sales__image-container">
      <img class='yearly-sales__image' src="../../../../assets/images/graphs/yearly-sales.png" alt="yearly sales graph">
    </div>
  </div>
  <div class="yearly-sales__data">
    <div class="yearly-sales__data-item">
      <p class="yearly-sales__sum yearly-sales__sum_col_sales">{{sales}} $</p>
      <p class="yearly-sales__description">Yearly Sales</p>
      <div class="yearly-sales__line-container">
        <div class="yearly-sales__line yearly-sales__line_col_sales"></div>
      </div>
    </div>
    <div class="yearly-sales__data-item">
      <p class="yearly-sales__sum yearly-sales__sum_col_visitors">{{visitors}}</p>
      <p class="yearly-sales__description">Yearly Visitors</p>
      <div class="yearly-sales__line-container">
        <div class="yearly-sales__line yearly-sales__line_col_visitors"></div>
      </div>
    </div>
    <div class="yearly-sales__data-item">
      <p class="yearly-sales__sum yearly-sales__sum_col_customers">{{customers}}</p>
      <p class="yearly-sales__description">Yearly Customers</p>
      <div class="yearly-sales__line-container">
        <div class="yearly-sales__line yearly-sales__line_col_customers"></div>
      </div>
    </div>
  </div>
</div>
