<div class="tasks-area" [class.tasks-area_content_blurred]='showAddItem'>
  <div class="tasks-bar">
    <h2 class="tasks-bar__heading">Tasks</h2>
    <div class="tasks-bar__controls">
      <span class="tasks-bar__add-task" (click)='toggleShowAddItem()'>+</span>
      <span class="tasks-bar__remove-task" (click)='showDelete = !showDelete; resetTasksToDel()'>&times;</span>
    </div>
  </div>

  <div class="tasks-deletion" [style.visibility]="showDelete?'visible':'hidden'" [style.opacity]="showDelete?'1':'0'">
    <button type="button" class="tasks-deletion__button tasks-deletion__button_for_delete" (click)='deleteMultipleTasks(); showDelete = !showDelete;' [disabled]='tasksToDelete.length <= 0'>delete tasks</button>
    <button type="button" class="tasks-deletion__button tasks-deletion__button_for_cancel" (click)='showDelete = !showDelete; resetTasksToDel()'>cancel</button>
  </div>

  <div class="tasks-tags">
    <span class="tasks-tags__tag" *ngFor='let item of tags' (click)='currentTag = item'>{{item}}</span>
  </div>

  <div class="tasks-container">
    <task-item class="task-element" *ngFor='let item of tasks | TasksFilter:currentTag; let index = index' [item]='item' [color]='randomColors[index]' [delitems]='tasksToDelete' [showdel]='showDelete' (onUpdated)='updateTask($event)' (onDeleted)='addToDelete($event)'></task-item>
  </div>

  <add-task class="add-item" *ngIf='showAddItem' [item]='newItemBoilerplate' [tags]='tags' (onAdded)='addTask($event)' (onHidden)='toggleShowAddItem()'></add-task>
</div>
