<div class="register-container">
  <div class="register">
    <p class="register__heading">Sign up to create new account:</p>
    <form class="register__form" novalidate #registerForm='ngForm' name='register-form'>

      <div class="register__input-container">
        <label class="register__label-container">
          <p class="register__label">Name:</p>
          <input class="register__input" type="text" required #registerName="ngModel" [(ngModel)]="name" name="name" tabindex='1'>
        </label>

        <p class="register__invalid-input" *ngIf='registerName.invalid && registerName.touched'>Please fill this field</p>
      </div>

      <div class="register__input-container">
        <label class="register__label-container">
          <p class="register__label">Email:</p>
          <input class="register__input" type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required [(ngModel)]="email" name="email" tabindex='2' #registerEmail="ngModel">
        </label>

        <p class="register__invalid-input" *ngIf='registerEmail.invalid && registerEmail.touched'>Please fill this field</p>
      </div>

      <div class="register__input-container">
        <label class="register__label-container">
          <p class="register__label">Username:</p>
          <input class="register__input" type="text" required [(ngModel)]="username" name="username" tabindex='3' #registerUsername="ngModel">
        </label>

        <p class="register__invalid-input" *ngIf='registerUsername.invalid && registerUsername.touched'>Please fill this field</p>
      </div>

      <div class="register__input-container">
        <label class="register__label-container">
          <p class="register__label">Password:</p>
          <input class="register__input" type="password" required  [(ngModel)]="password" name="password" tabindex='4' #registerPassword="ngModel">
        </label>

        <p class="register__invalid-input" *ngIf='registerPassword.invalid && registerPassword.touched'>Please fill this field</p>
      </div>

      <div class="register__button-container">
        <button class="register__button" (click)='onRegisterSubmit()' [disabled]='!registerForm.form.valid' tabindex='5'>Register</button>
        <button class="register__button" tabindex='6' (click)='goToLogin()'>Login</button>
      </div>

    </form>
  </div>
</div>