<div class="update">
  <div class="update__icon-container">
    <div class="update__icon update__icon_bg_{{type}}">
      <i class="fa fa-twitter" [class.fa-twitter]='type==="twitter"' [class.fa-usd]='type==="sales"' [class.fa-user]='type==="visitors"' [class.fa-envelope]='type==="messages"' [class.update__icon-item]='true' aria-hidden="true"></i>
    </div>
    <div class="update__icon-decration update__icon-decration_bg_{{type}}"></div>
  </div>
  <div class="update__info" [ngSwitch]="type">
    <p class="update__count">
      {{data}}
      <span *ngIf='type==="sales"'>$</span>
    </p>
    <p class="update__description" *ngSwitchCase="twitter">Mentioned</p>
    <p class="update__description" *ngSwitchCase="sales">Today Sales</p>
    <p class="update__description" *ngSwitchCase="visitors">Today Visitors</p>
    <p class="update__description" *ngSwitchCase="messages">New messages</p>
  </div>
</div>
