<div class="login-container">
  <div class="login">
    <p class="login__heading">Please insert your username and password</p>
    <form class="login__form" #loginForm='ngForm' novalidate name='login-form'>
      <div class="login__input-container">
        <label>
          <p class="login__label">Username:</p>
          <input class="login__input" type="text" [(ngModel)]="username" name="user" required>
        </label>
      </div>
      <div class="login__input-container">
        <label>
          <p class="login__label">Password:</p>
          <input class="login__input" type="password" [(ngModel)]="password" name="pass" required>
        </label>
      </div>
      <div class="login__button-container">
        <button class="login__button" (click)='onLoginSubmit();$event.preventDefault()' [disabled]='!loginForm.form.valid'>Login</button>
        <button class="login__button" (click)='goToRegister()'>Register</button>
      </div>
      <p class="login__message">You can use <b>"testname"</b> as username and <b>"12345"</b> as password to test this webapp</p>
    </form>
  </div>
</div>