<div class="data-graph">
  <div class="data-graph__heading-container">
    <h3 class="data-graph__heading">Data graph</h3>
    <i class="fa fa-cog data-graph__settings" aria-hidden="true"></i>
  </div>
  <div class="data-graph__picture-container">
    <img src="../../../../assets/images/graphs/data-graph-graph.png" alt="data graph picture">
  </div>
  <div class="data-graph__data">
    <div class="data-graph__earnings">
      <p class="data-graph__money">{{earnings}} $</p>
      <p class="data-graph__description">Total earned</p>
    </div>
    <img src="../../../../assets/images/graphs/data-graph-graph-small.png" alt="data graph picture small" class="data-graph__data-picture">
  </div>
</div>
