<div class="profile-change-container" [class.profile-change_is_blurred]='showConfirmDialog'>
  <div class="profile-change">
    <p class="profile-change__heading">Change your account info:</p>
    <form class="profile-change__form" novalidate #profileChangeForm='ngForm' name='profileChange-form'>

      <div class="profile-change__input-container">
        <label class="profile-change__label-container">
          <p class="profile-change__label">New name <span *ngIf='!!profile'>(current - "{{profile.name}}")</span>:</p>
          <input class="profile-change__input" type="text" required #profileChangeName="ngModel" [(ngModel)]="newName" name="name" tabindex='1'>
        </label>
      </div>

      <div class="profile-change__input-container">
        <label class="profile-change__label-container">
          <p class="profile-change__label">New username <span *ngIf='!!profile'>(current - "{{profile.username}}")</span>:</p>
          <input class="profile-change__input" type="text" required [(ngModel)]="newUsername" name="username" tabindex='2' #profileChangeUsername="ngModel" (keyup)='checkUsername()' autocomplete="off">
        </label>

        <p class="profile-change__invalid-input" *ngIf='isUsernameUsed && profileChangeUsername.touched && newUsername!==""'>username is already used</p>
      </div>

      <div class="profile-change__input-container">
        <label class="profile-change__label-container">
          <p class="profile-change__label">New password:</p>
          <input class="profile-change__input" type="password" required  [(ngModel)]="newPassword" name="password" tabindex='3' #profileChangePassword="ngModel">
        </label>

        <p class="profile-change__invalid-input" *ngIf='!arePasswordFieldsEmpty() && profileChangePassword.touched'>Passwords should be equal</p>
      </div>

      <div class="profile-change__input-container">
        <label class="profile-change__label-container">
          <p class="profile-change__label">Repeat new password:</p>
          <input class="profile-change__input" type="password" required  [(ngModel)]="newPasswordRepeat" name="password" tabindex='4' #profileChangePassword="ngModel">
        </label>

        <p class="profile-change__invalid-input" *ngIf='!arePasswordFieldsEmpty() && profileChangePassword.touched'>Passwords should be equal</p>
      </div>

      <div class="profile-change__input-container profile-change__input-container_type_currentimage">
        <p class="profile-change__label profile-change__label_for_currentimage">Your current user image:</p>
        <img src="../../../../assets/images/users/default-userimage.jpg" alt="user default image" class="profile__avatar" *ngIf='!!!image64Original'>
        <img [src]='image64Original' alt="user image" class="profile__avatar" *ngIf='!!image64Original'>
      </div>

      <div class="profile-change__input-container">
        <label class="profile-change__label-container">
          <p class="profile-change__label">Choose new user image:</p>
          <input class="profile-change__input profile-change__input_type_file" type="file" name='userimage' [(ngModel)]="userimageqqqq" tabindex='5' #userImageInput="ngModel"accept="image/gif, image/jpeg, image/png">

          <p class="profile-change__invalid-input-file" *ngIf='!isUserimageValid && userImageInput.touched'>Please choose image that is not bigger than 100px &times; 100px and not smaller than 34px &times; 34px</p>
        </label>
      </div>

      <div class="profile-change__input-container profile-change__input-container_for_image" [class.profile-change__input-container_marginbot_none]='!isUserimageValid'>
        <img [src]='image64' alt="userimage" class="profile-change__userimage" [hidden]='!isUserimageValid'>
        <button class="profile-change__button" tabindex='6' (click)='resetUserImage()' [hidden]='!isUserimageValid'>Remove user image</button>
      </div>

      <div class="profile-change__button-container">
        <button class="profile-change__button" (click)='showConfirmDialog=true' tabindex='6' [disabled]='!arePasswordFieldsEmpty() || isUsernameUsed'>Change profile</button>
        <button class="profile-change__button" tabindex='7' (click)='goToDashboard()'>Cancel</button>
      </div>

    </form>
  </div>
  <div class="profile-change__confirm-dialog" *ngIf='showConfirmDialog'>
    <div class="profile-change__confirm-dialog-container">
      <p class="profile-change__confirm-message" *ngIf='newName==="" && !arePasswordsEqual() && newUsername==="" && !isUserimageValid && !!!userImageBase64Obj'>You didn't make any changes...</p>
      <p class="profile-change__confirm-message" *ngIf='!(newName==="" && !arePasswordsEqual() && newUsername==="" && !isUserimageValid && !!!userImageBase64Obj)'>Confirm your changes: </p>

      <p class="profile-change__confirm-message profile-change__confirm-message_fong_small" *ngIf='newName!==""'>Your new name: {{newName}}</p>
      <p class="profile-change__confirm-message profile-change__confirm-message_fong_small" *ngIf='!isUsernameUsed && newUsername!==""'>Your new username: {{newUsername}}</p>
      <p class="profile-change__confirm-message profile-change__confirm-message_fong_small" *ngIf='arePasswordsEqual()'>Your password will be changed</p>
      <p class="profile-change__confirm-message profile-change__confirm-message_fong_small" *ngIf='isUserimageValid && !!image64 && !!userImageBase64Obj'>Your new userimage:</p>
      <img [src]='image64' alt="userimage" class="profile-change__userimage" *ngIf='!!image64 && !!userImageBase64Obj'>

      <div class="profile-change__confirm-button-container">
        <button class="profile-change__button" *ngIf='!(newName==="" && !arePasswordsEqual() && newUsername==="" && !isUserimageValid && !!!userImageBase64Obj)' (click)='onProfileChangeSubmit()'>Confirm changes</button>
        <button class="profile-change__button" (click)='showConfirmDialog=!showConfirmDialog'>Go back</button>
      </div>
    </div>
  </div>
</div>